TELEGRAM_BOT_TOKEN=dein-bot-token-hier
ALLOWED_CHAT_ID=7459992119
NAS_HOST=192.168.178.28
NAS_USER=dole4711
NAS_SSH_KEY_PATH=~/.ssh/id_rsa
DOCKER_PATH=/volume1/@appstore/ContainerManager/usr/bin/docker
